.gradient-custom-2 {
    /* Fallback pour les anciens navigateurs */
    background: white;
     
  
}
  
  @media (min-width: 768px) {
    .gradient-form {
      height: 100vh !important;
    }
  }
  
  @media (min-width: 769px) {
    .gradient-custom-2 {
      border-top-right-radius: .3rem;
      border-bottom-right-radius: .3rem;
    }
  }
  
  .orange-background {
    background: linear-gradient(to right, #5b9758, #8bbd7c, #3e7c4d, #266e3b);
}
