{% extends "base_auth.html.twig" %}

{% block body%}

<h1>
    {% block title%}
        Administrateur
    {% endblock %}
</h1>


    {% if msg %}
   <div> {{msg}} </div>
{% endif %}







{% endblock %}